<head>
    <style>
        table {
            font-family: 'Berkeley mono';
            font-style: normal;
            font-size: 16px;
        }
    </style>
</head>

{%-if include.category-%}
  {%-assign posts = site.categories[include.category]-%}  
{%-else-%}
  {%-assign posts = site.posts-%}
{%-endif-%}

{%-if include.limit and posts.size > include.limit-%}
  {%-assign limit_exceeded = true-%}
{%-else-%}
  {%-assign limit_exceeded = false-%}
{%-endif-%}

{%- if posts.size > 0 -%}
  <table>
    {%- for post in posts limit: include.limit -%}
    <tr>
      <td>{{- post.date | date: site.theme_config.date_format -}} &nbsp▸ <a href="{{ post.url | relative_url }}">{{ post.title }}</a></td>
    </tr>
    {%- endfor -%}
    {%- if include.show_more and limit_exceeded -%}
    <tr>
      <td><a href="{{ include.show_more_url }}">{{ include.show_more_text | default: "Show more..." }}</a></td>
    </tr>
    {%- endif -%}
  </table>
{%- endif -%}
