@font-face {
    font-family: 'Iosevka Term Web';
    src: url('/fonts/IosevkaTerm-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka Aile';
    src: url('/fonts/IosevkaAile-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Iosevka Aile", "Arial", sans-serif;
}

code {
    font-family: "Iosevka Term Web", "Courier New", monospace;
}