@font-face {
    font-family: 'Iosevka Term Web';
    src: url('/fonts/IosevkaTerm-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Aile';
    src: url('/fonts/IosevkaAile-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Shanns Mono';
    src: url('/fonts/ComicShannsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, figcaption {
    font-family: "Iosevka Aile", "Arial", sans-serif;
}

code, .posts-list {
    font-family: "Iosevka Term Web", "Courier New", monospace;
}

/* clown mode */
body.comic-sans { 
    font-family: "Comic Sans MS", "Comic Sans", "Comic Shanns Mono", sans-serif;
}
body.comic-sans code, body.comic-sans .posts-list { 
    font-family: "Comic Shanns Mono", "Comic Sans MS", "Comic Sans", monospace;
}

.font-change-button {
    font: inherit;
    font-size: inherit;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

/* For small screen devices */
@media (max-width: 500px) {
    body {
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        text-size-adjust: 100%;
        font-size: 13px;
    }
    pre, code {
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        text-size-adjust: 100%;
        font-size: 12px; /* Adjust this value as needed */
    }
}