<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <h1 style="text-align: center;">☻</h1> 
    <nav>
    <ul class="menu">
      <p><strong>Torbjørn Bakken Pedersen's page</strong></p>
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <hr>
    </nav>

{{ with .Site.Params.favicon }}
<link rel="icon" type="image/png" href="/favicon.png">
{{ end }}
