<div class="menu">
  <button onclick="launchWebamp()" class="menu">
    <strong>Launch webamp player</strong>
    <img src="/webamp/webamp.svg" alt="Webamp logo" style="height: 1.5em; vertical-align: middle;">
  </button>
</div>

<div id="app" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1000; display: none; touch-action: none;">
  <!-- Webamp will attempt to center itself within this div -->
</div>

<script src="https://unpkg.com/webamp@1.4.2/built/webamp.bundle.min.js"></script>
<script>
  const Webamp = window.Webamp;
  {{ $tracks := .Page.Resources.GetMatch (.Get "tracks" | default "tracks.yaml") | transform.Unmarshal }}
  let webampInstance = null;

  function launchWebamp() {
    // Always dispose of any existing instance
    if (webampInstance) {
      webampInstance.dispose();
      webampInstance = null;
    }

    // Create new instance
    webampInstance = new Webamp({
      initialTracks: {{ $tracks | jsonify | safeJS }}
    });
    
    document.getElementById("app").style.display = "block";
    webampInstance.renderWhenReady(document.getElementById("app")).then(() => {
      // Add an event listener for when Webamp is closed
      webampInstance.onClose(() => {
        document.getElementById("app").style.display = "none";
        webampInstance.dispose();
        webampInstance = null;
      });
    });
  }
</script> 