<div class="menu">
  <button onclick="launchWebamp()" class="menu">
    <strong>Launch webamp player</strong>
    <img src="/webamp/webamp.svg" alt="Webamp logo" style="height: 1.5em; vertical-align: middle;">
  </button>
</div>

<div id="app" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1000; display: none; touch-action: manipulation;">
  <!-- Webamp will attempt to center itself within this div -->
</div>

<script src="https://unpkg.com/webamp@1.5.0/built/webamp.bundle.min.js"></script>
<script src="https://unpkg.com/butterchurn@2.6.7/lib/butterchurn.min.js"></script>
<script src="https://unpkg.com/butterchurn-presets@2.4.7/lib/butterchurnPresets.min.js"></script>
<script>
  const Webamp = window.Webamp;
  {{ $tracks := .Page.Resources.GetMatch (.Get "tracks" | default "tracks.yaml") | transform.Unmarshal }}
  let webampInstance = null;

  function launchWebamp() {
    if (webampInstance) {
      webampInstance.dispose();
      webampInstance = null;
    }

    webampInstance = new Webamp({
      initialTracks: {{ $tracks | jsonify | safeJS }},
      __butterchurnOptions: {
        importButterchurn: () => Promise.resolve(window.butterchurn),
        getPresets: () => {
          const presets = window.butterchurnPresets.getPresets();
          return Object.keys(presets).map((name) => {
            return {
              name,
              butterchurnPresetObject: presets[name],
            };
          });
        },
        butterchurnOpen: true,
      },
      __initialWindowLayout: {
        main: { position: { x: 0, y: 0 } },
        equalizer: { 
          position: { x: 0, y: 116 }
        },
        playlist: {
          position: { x: 0, y: 130 },
          size: [0, 1]
        },
        milkdrop: {
          position: { x: 0, y: 275 },
          size: [0,2]
        }
      }
    });
    
    document.getElementById("app").style.display = "block";
    webampInstance.renderWhenReady(document.getElementById("app")).then(() => {
      // Minimize (shade) the equalizer
      webampInstance.store.dispatch({ type: 'TOGGLE_WINDOW_SHADE_MODE', windowId: 'equalizer' });
      
      webampInstance.onClose(() => {
        document.getElementById("app").style.display = "none";
        webampInstance.dispose();
        webampInstance = null;
      });
    });
  }
</script> 